body {
    font-family: Helvetica;
    background-image: url("theater.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: xxx-large;
}

h3{
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

caption {
    background-color: gray;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

th {
    /**/
    background-color: black;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

td {
    padding: 12px 15px;
}

tr{
    /*This adds bottom lines*/
    border-bottom: 1px solid #dddddd;
    background: white;
}

tr:nth-of-type(even){
    /*Alternates colors of white and grey*/
    background-color: #f3f3f3;
}

tr:last-of-type{
    /*Adds color line at bottom of table*/
    border-bottom: 2px solid black;
}

th {
    padding: 12px 15px;
}

a{
    color: black;
}

a:hover{
    color: lightseagreen;
}

a.index{
    text-align: center;
}
